html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  position: fixed;
  top: 0;
  bottom: 0;
}

.nav-bar-layout {
  background: #fff;
  color: #c8c9d3;
  width: 150px;
  text-align: center;
  .title {
    letter-spacing: 3px;
  }
  a {
    text-decoration: none;
    color: #0099ff;
  }
}

.index-bar-layout {
  width: 300px;
  left: 150px;
}

.main-view {
  width: 100%;
  left: 450px;
}

.button-nav {
  display: block;
  width: 90px;
  height: 90px;
  color: #009aff;
  border-radius: 3px;
  transition: 250ms all;
  &:hover {
    text-decoration: none;
    color: #006daa;
  }
}

.button-main {
  background: #f4b21e;
  color: black;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  width: 200px;
  text-align: center;
  height: 50px;
  border-radius: 3px;
  text-decoration: none;
  transition: 250ms all;
  &:hover {
    text-decoration: none;
    color: #006daa;
    background: white;
  }
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 48px;
  background: white;
  border: 2px solid #009aff;
  color: white;
  background-image: asset-url('avatar.png');
}

.background-full {
  width: 100%;
  height: 100vh;
  background: asset-url('background-main.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo-image {
  width: 250px;
}
