html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  position: fixed;
  top: 0;
  bottom: 0;
}

.nav-bar-layout {
  background: #fff;
  color: #c8c9d3;
  letter-spacing: 3px;
  width: 150px;
  text-align: center;
  .title {
    text-decoration: underline;
  }
}

.index-bar-layout {
  width: 300px;
  left: 150px;
  box-shadow: 5px 0 5px -5px #333;
  z-index: 5;
}

.main-view {
  width: 100%;
  left: 450px;
}

.button {
  width: 75px;
  height: 75px;
  background: blue;
  color: white;
}

.avatar {
  width: 75px;
  height: 75px;
  border-radius: 48px;
  background: blue;
  color: white;
}
