html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  position: fixed;
  top: 0;
  bottom: 0;
}


.main-view {
  width: 100%;
  left: 125px;
}

.button-nav {
  display: block;
  width: 90px;
  height: 90px;
  color: #009aff;
  border-radius: 3px;
  transition: 250ms all;
  &:hover {
    text-decoration: none;
    color: #006daa;
  }
}

.avatar {
  width: 75px;
  height: 75px;
  background: white;
  color: white;
}
