html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  position: fixed;
  top: 0;
  bottom: 0;
}

.nav-bar-layout {
  background: asset-url('background-main.png') no-repeat center center fixed;
  color: #fff;
  width: 100px;
  text-align: center;
  // border-right: 1px solid #eee;
  .title {
    letter-spacing: 3px;
  }
  a {
    text-decoration: none;
  }
}

.main-view {
  width: 100%;
  left: 100px;
}

.button-nav {
  display: block;
  width: 90px;
  height: 90px;
  color: #009aff;
  border-radius: 3px;
  transition: 250ms all;
  &:hover {
    text-decoration: none;
    color: #006daa;
  }
}

.button-main {
  background: #f4b21e;
  color: black;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  width: 200px;
  text-align: center;
  height: 50px;
  border-radius: 3px;
  text-decoration: none;
  transition: 250ms all;
  &:hover {
    text-decoration: none;
    color: #006daa;
    background: white;
  }
}

.avatar {
  width: 75px;
  color: white;
  border-radius: 50px;
}

.avatar-round {
  width: 50px;
  border-radius: 50px;
  border: 1px solid #fff;
  transition: all 250ms;
  &:hover {
    border: 1px solid #f4b21e;
  }
}

.background-full {
  width: 100%;
  height: 100vh;
  background: asset-url('background-main.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-background-full {
  background: asset-url('background-main.png') no-repeat center center fixed;
}

.logo-image {
  width: 250px;
}

.icon-image-md {
  width: 35px;
  margin-top: 10px;
  margin-bottom: 0;
}

.icon-image-sm {
  margin-top: 15px;
  width: 25px;
}

.title {
  color: #fff;
  font-weight: lighter;
}

.link-effects {
  transition: 250ms all;
  color: #fff;
  a {
    text-decoration: none;
    color: #898f9b;
  }
  &:hover {
    text-decoration: none;
    color: #f4b21e;
  }
}

.auth {
  color: #fff;
  font-size: 18px;
  font-weight: lighter;
}

.button-twitter {
  border: 1px solid #fff;
  color: #fff;
  opacity: 0.7;
  margin-right: 7px;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  width: 100px;
  text-align: center;
  height: 50px;
  border-radius: 3px;
  text-decoration: none;
  transition: 250ms all;
  &:hover {
    text-decoration: none;
    color: #fff;
    opacity: 1;
    background: #1da1f2;
    border: 1px solid #1da1f2;
  }
}

.button-facebook {
  border: 1px solid #fff;
  color: #fff;
  opacity: 0.7;
  margin-left: 7px;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  width: 100px;
  text-align: center;
  height: 50px;
  border-radius: 3px;
  text-decoration: none;
  transition: 250ms all;
  &:hover {
    text-decoration: none;
    color: #fff;
    opacity: 1;
    background: #3b5998;
    border: 1px solid #3b5998;
  }
}

.logo-image-sm {
  width: 20px;
}

.logo-small {
  height: 90px;
}

input {
  border-radius: 3px;
  height: 50px;
  padding: 10px 12px;
  font-size: 16px;
  vertical-align: middle;
  width: 100%;
  color: #333;
  border: none;
  background: rgba(0, 0, 0, 0.07);
  border-radius: 6px;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  transition: all 250ms;
  &:hover {
    background: #f4b21e;
    color: #fff;
  }
}

label {
  display: block;
  margin: 5px 0;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 500;
}

.i-light {
  color: #999999;
  font-size: 11px;
  margin-top: 0;
  margin-bottom: 10px;
}

.margin-push {
  margin-bottom: 14px;
  margin-top: -14px;
}

.text-right {
  text-align: right;
}

.stretch-button {
  width: 100%;
  height: 45px;
  padding-top: 15px;
}

.push-button {
  padding-top: 15px;
  margin-top: 15px;
}
