html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  position: fixed;
  top: 0;
  bottom: 0;
}

.nav-bar-layout {
  background: asset-url('background-main.png') no-repeat center center fixed;
  color: #fff;
  width: 100px;
  text-align: center;
  border-right: 1px solid #eee;
  .title {
    letter-spacing: 3px;
  }
  a {
    text-decoration: none;
  }
}

.main-view {
  width: 100%;
  left: 100px;
}

.button-nav {
  display: block;
  width: 90px;
  height: 90px;
  color: #009aff;
  border-radius: 3px;
  transition: 250ms all;
  &:hover {
    text-decoration: none;
    color: #006daa;
  }
}

.button-main {
  background: #f4b21e;
  color: black;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  width: 200px;
  text-align: center;
  height: 50px;
  border-radius: 3px;
  text-decoration: none;
  transition: 250ms all;
  &:hover {
    text-decoration: none;
    color: #006daa;
    background: white;
  }
}

.avatar {
  width: 75px;
  height: 75px;
  color: white;
}

.background-full {
  width: 100%;
  height: 100vh;
  background: asset-url('background-main.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav-background-full {
  background: asset-url('background-main.png') no-repeat center center fixed;
}

.logo-image {
  width: 250px;
}

.icon-image-md {
  width: 35px;
  margin-top: 10px;
  margin-bottom: 0;
}

.icon-image-sm {
  margin-top: 15px;
  width: 25px;
}

.link-effects {
  transition: 250ms all;
  color: #fff;
  a {
    text-decoration: none;
    color: #fff;
  }
  &:hover {
    text-decoration: none;
    color: #f4b21e;
  }
}
