html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.nav-bar-layout {
  background: red;
  border: 2px green solid;
}

.side-bar-layout {
  background: blue;
  border: 2px pink solid;
}

.main-view {
  background: green;
  border: 2px orange solid;
}
