html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  position: fixed;
  top: 0;
  bottom: 0;
}


.main-view {
  width: 100%;
  left: 125px;
}

.button-nav {
  display: block;
  width: 90px;
  height: 90px;
  color: #009aff;
  border-radius: 3px;
  transition: 250ms all;
  &:hover {
    text-decoration: none;
    color: #006daa;
  }
}

.button-main {
  background: #f4b21e;
  color: black;
  padding: 10px;
  margin-top: 5px;
  font-size: 18px;
  width: 200px;
  text-align: center;
  height: 50px;
  border-radius: 3px;
  text-decoration: none;
  transition: 250ms all;
  &:hover {
    text-decoration: none;
    color: #006daa;
    background: white;
  }
}

.avatar {
  width: 75px;
  height: 75px;
  background: white;
  color: white;
}

.background-full {
  width: 100%;
  height: 100vh;
  background: asset-url('background-main.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.logo-image {
  width: 250px;
}
