html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.layout {
  position: fixed;
  top: 0;
  bottom: 0;
}

.nav-bar-layout {
  background: #fff;
  color: #c8c9d3;
  width: 150px;
  text-align: center;
  border-right: 1px solid #eee;
  .title {
    letter-spacing: 3px;
  }
  a {
    text-decoration: none;
    color: #0099ff;
  }
}

.main-view {
  width: 100%;
  left: 125px;
}

.button-nav {
  display: block;
  width: 90px;
  height: 90px;
  color: #009aff;
  border-radius: 3px;
  transition: 250ms all;
  &:hover {
    text-decoration: none;
    color: #006daa;
  }
}

.avatar {
  width: 75px;
  height: 75px;
  background: white;
  color: white;
}
