.nav-bar-layout.p-2.layout.d-flex.flex-column.align-items-center.nav-background-full
  = link_to root_path do
    =image_tag "icon-add.svg", class:"icon-image-sm"
    %div.d-flex.align-items-center
      =link_to 'Login', posts_path, class:"link-effects"
  =image_tag "icon-map-dropper.svg", class:"icon-image-md"
  =link_to 'Posts', posts_path, class:"link-effects"

  .avatar.m-4.mt-auto
    = link_to edit_user_registration_path(current_user) do
      = image_tag current_user.gravatar_url
    = link_to 'Logout', destroy_user_session_path, method: :delete, class:"link-effects"
