.nav-bar-layout.p-2.layout.d-flex.flex-column.align-items-center
  .title NAVIGATION
  %div
    =link_to posts_path, class:"button-nav m-2" do
      =image_tag "icon-map.png"
      Map
    %div.mt-4
      =link_to posts_path, class:"button-nav m-2" do
        =image_tag "icon-addpost.png"
        Add Post
  .avatar.m-2.mt-auto
