%div.background-full.d-flex.align-items-center.justify-content-center.flex-column
  %div.d-flex.flex-row
    =link_to posts_path do
      =image_tag "logo-main.svg", class:"logo-image"
  %div.d-flex.mt-2.align-items-center.title
    Sign in
  %div.d-flex.mt-2.align-items-center
    =link_to posts_path do
      =link_to 'Twitter', user_twitter_omniauth_authorize_path, class:"button-twitter"
      =link_to 'Facebook', user_facebook_omniauth_authorize_path, class:"button-facebook"
