%div.background-full.d-flex.align-items-center.justify-content-center.flex-column
  %div.d-flex.flex-row
    =link_to posts_path do
      =image_tag "logo-main.svg", class:"logo-image"
  %div.d-flex.mt-2.align-items-center
    =link_to 'Login', posts_path, class:"button-main"
