= link_to post_path(post) do
  %li.post-list-item
    %span.post-title=post.user.name
    %span.text-muted
      = post.user.followers.count
      = 'follower'.pluralize(post.user.followers.count)
    = link_to 'Follow', '/'
