.index-bar-layout.layout.show.show-bar.p-0
  =link_to posts_path, class: 'nav-back' do
    %i.fa.fa-angle-left
      Back to posts
  .p-0.gradient.text-white
    = link_to ' ', posts_path, class: 'fa fa-arrow-l'
    .p-3
      %h6.p-0.g
        = post.title
        by
        =post.user.name
  .p-0
    %img{src: 'https://unsplash.it/250'}s
    .bar-detail
      %h5 Details
      %p.info-text= post.description
      %hr
    .bar-detail= post.created_at
    %hr
    .bar-detail
      detail section
