.index-bar-layout.show-bar.p-0
.index-bar-layout.layout.show.show-bar.p0
  %h5.p-3
    Top Posts
  .p-3
    - @posts.each do |post|
      .row
        .col-md-12
          = link_to post.title, post_path(post)
          %hr
#map-large{ data: { behavior: 'posts-map' }}
