@import 'base/base';

ul.index-list {
  padding: 0px;
}
.post-list-item {
  display: block;
  list-style: none;
  padding: 10px 20px;
}
.show-bar {
  padding: 20px;

  h5 {
    color: $gray-dark;
  }

  .info-text {
    color: $gray;
  }
}
