// .nav-bar-layout {
//   background: #fff;
//   color: #07AA6;
//   width: 150px;
//   text-align: center;
//   border-right: 1px solid #eee;
//   .title {
//     letter-spacing: 3px;
//   }
a {
  transition: all 250ms;
  text-decoration: none;
  color: #626b7c;
  &:hover {
    color: #00c3f6;
    text-decoration: none;
  }
}
// }

.index-bar-layout {
  width: 1px;
  opacity: 0;
  transition: all .3s ease;
  box-shadow: 5px 0 5px 0px rgba(0, 0, 0, .05);
  z-index: 5;
  background: #fff;
  position: fixed;
  border-left: 1px solid #eee;
  h5 {
    background: #f4b21e;
    text-align: center;
  }
}

.index-bar-layout.show {
  opacity: 1;
  background: #fff;
  width: 250px;
  .top {
    background: #ff9f1c;
  }
}

.gradient {
  background-color: #3abc30;
  background-image: linear-gradient(62deg, #3abc30 0%, #17a917 100%);
}

.text-white {
  color: #fff;
}
