.index-bar-layout {
  width: 300px;
  left: 150px;
  box-shadow: 5px 0 5px -5px #333;
  z-index: 5;
  position: fixed;
  top: 0;
  bottom: 0;
  opacity: 0;
  transition: all .75s ease;
}

.index-bar-layout.show {
  opacity: 1;
  width: 500px;
}