.nav-bar-layout {
  background: #fff;
  color: #07AA6;
  width: 250px;
  text-align: center;
  border-right: 1px solid #eee;
  .title {
    letter-spacing: 3px;
  }
}

.index-bar-layout {
  width: 1px;
  opacity: 0;
  transition: all .3s ease;
  box-shadow: 5px 0 5px 0px rgba(0, 0, 0, .05);
  z-index: 5;
  background: #008C50;
  position: fixed;
  border-left: 1px solid #eee;
}

.index-bar-layout.show {
  opacity: 1;
  background: #fff;
  width: 375px;
  .gradient {
      background-color: #3abc30;
      background-image: linear-gradient(62deg, #3abc30 0%, #17a917 100%);
    }
  overflow-y: overlay;
}

.text-white {
  color: #fff;
}
a {
  text-decoration: none;
  color: #3abc30;
  font-size: 14px;
}