
a {
  transition: all 250ms;
  text-decoration: none;
  color: #626b7c;
  &:hover {
    color: #00c3f6;
    text-decoration: none;
  }
}


.index-bar-layout {
  width: 1px;
  opacity: 0;
  transition: all .3s ease;
  box-shadow: 5px 0 5px 0px rgba(0, 0, 0, .05);
  z-index: 5;
  background: #fff;
  position: fixed;
  border-left: 1px solid #eee;
}

.index-bar-layout.show {
  opacity: 1;
  background: #fff;
  width: 375px;
  .gradient {
    background-color: #3abc30;
    background-image: linear-gradient(62deg, #3abc30 0%, #17a917 100%);
  }
  overflow-y: overlay;
  overflow-x: hidden;
}

.text-white {
  color: #fff;
  transition: 250ms all;
}
a {
  text-decoration: none;
  color: #4d515d;
  font-size: 14px;
}

.post-image {
  position: relative;
  height: 250px;
}

.post-description {
  padding: 6px;
  background: #666;
  position: absolute;
  top: 0px;
  opacity: .9;
  left: 15px;
  width: 100%;

}
