.index-bar-layout {
  width: 1px;
  opacity: 0;
  transition: all .3s ease;
  box-shadow: 5px 0 5px 0px rgba(0, 0, 0, .05);
  z-index: 5;
  background: #fff;
  position: fixed;
  border-left: 1px solid #e9e9e9;
}

.index-bar-layout.show {
  opacity: 1;
  background: #fff;
  width: 250px;
}